<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>dev-7lg1fu6u.eu.auth0.com</string>
	<key>ClientId</key>
	<string>6R8Qdb1yJ06DOSN5rZvUhnQbWB9PxxfJ</string>
</dict>
</plist>
